:root {
    --color-iris: #4d5ae5;
    --color-ocean: #404bbf;
    --color-navy-blue: #2e2f42;
    --color-green: #31d0aa;
    --color-slate: #434455;
    --color-light-slate: #8e8f99;
    --color-cornflower: #e7e9fc;
    --color-cloud: #f4f4fd;
    --color-navy-blue-modal: #2e2f42;
    --color-grey: #2e2f42;
    --color-white: #ffffff;
    --color-dairy: #fcfcfc;
  }
  
  body {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-decoration: none;
    text-transform: none;
    background-color: var(--color-white);
    color: var(--color-slate);
  }
  
  /* Specification */
  
  .list {
    list-style-type: none;
  }
  
  .link {
    text-decoration: none;
  }

  /* Header section */
  
  .header {
    background-color: var(--color-white);
  }
  
  /* Logo */
  .link-logo {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-iris);
  }
  
  .link-title-primary {
    color: var(--color-navy-blue);
  }
  
  /* Navigation */
  
  .list {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    list-style: none;
  }
  
  .nav-item {
    text-decoration: none;
    color: var(--color-navy-blue);
  }
  
  .nav-item:hover {
    color: var(--color-ocean);
  }
  
  .nav-item:focus {
    color: var(--color-ocean);
  }
  
  /* Contacts */
  
  .contact-info {
    font-style: normal;
  }
  
  .list-contacts {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--color-slate);
    list-style: none;
  }
  
  .contact {
    text-decoration: none;
    color: var(--color-slate);
  }
  
  .contact:hover {
    color: var(--color-ocean);
  }
  
  .contact:focus {
    color: var(--color-ocean);
  }
  
  /* Hero section  */
  
  .hero-section {
    background-color: var(--color-navy-blue);
  }
  
  .order-button {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    background: var(--color-iris);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: var(--color-white);
    cursor: pointer;
  }
  
  .order-button:hover {
    background: var(--color-ocean);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }
  
  .order-button:focus {
    background: var(--color-ocean);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }
  
  .main-title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--color-white);
    text-align: center;
  }
  
  /* Services */
  
  .list-services {
    list-style: none;
  }
  
  .serv-desc {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-slate);
  }
  
  .serv-title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-navy-blue);
  }
  
  /* Services example */
  
  .list-examples {
    list-style: none;
  }
  
  .title-examples {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--color-navy-blue);
    text-align: center;
  }
  
  /* Team */
  
  .team-section {
    background-color: var(--color-cloud);
  }
  
  .title-team {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--color-navy-blue);
    text-align: center;
  }
  
  .employee-name {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--color-navy-blue);
  }
  
  .duty {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--color-slate);
  }
  
  .list-team {
    list-style: none;
  }
  
  .team-frame {
    background-color: var(--color-white);
  }
  
  /* Footer */
  
  .footer {
    background-color: var(--color-navy-blue);
  }
  
  .link-title-secondary {
    color: var(--color-cloud);
  }
  
  .footer-text {
    font-family: "Roboto" sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--color-cloud);
  }
  
  /* Portfolio */
  
  /* Buttons */
  
  .list-filter {
    list-style: none;
  }
  
  .filter-button {
    background-color: var(--color-cloud);
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--color-iris);
    cursor: pointer;
  }
  
  .filter-button:hover {
    background: var(--color-ocean);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: var(--color-white);
  }
  
  .filter-button:focus {
    background: var(--color-ocean);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: var(--color-white);
  }
  
  /* Examples portfolio */
  
  .list-ex-port {
    list-style: none;
  }
  
  .title-third {
    color: var(--dark-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
  
  
  .description {
    color: var(--text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  
  .link-project {
    text-decoration: none;
  }